# specify a folder with slash in the end
# ignore all files in any directory named .idea
.idea/

# specify a folder with slash in the end
# ignore all files in any directory named __pycache__
__pycache__/

# specify a folder with slash in the end
# ignore all files in any directory named venv
venv/

# specify a folder with slash in the end
# ignore all files in any directory named pic
pic/

# exclude files
diagram-export-2022. 6. 20. 오후 3_03_39.svg
와이어프레임.svg
KakaoTalk_Photo_2022-06-20-15-18-42.jpeg
api.jpg