<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🌿Terrarium</title>
    <!-- og 태그-->
    <meta property="og:title" content="🌿Terrarium - 테라리움">
    <meta property="og:image" content="/og_image.jpg">
    <meta property="og:description" content="잘 키운 반려식물 열 반려동물 안부럽다? 내가 키운 식물로 재테크 까지 모든 건 테라리움에서~">
    <!-- jQuery 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 부트스트랩 CSS 로드 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- 부트스트랩 Javascript(애니메이션 등에 사용됨) 로드 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <!-- 테마 CSS 로드(지금은 폰트만 있는 상태, theme.css 수정 시 주석도 수정해주세요) -->
    <link rel="stylesheet" href="../static/theme.css">

    <style>
        /*Sidebar 포함 전체 박스*/
        .container {
            height: 100vh;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /*Sidebar*/
        .sidebar-container {
        }

        /*Sidebar 제외한 오른쪽 박스*/
        .right-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-basis: auto;
            height: 100%;
            overflow: auto;
        }

        /*right-box 안에 있는 컨텐츠 카드*/
        .content-box {
            margin-left: 10px;
            margin-right: 10px;
            box-shadow: 3px 3px 10px #e0e0e0;
            border-radius: 10px;
            padding: 30px;
            /*padding-left: 50px;*/
            width: 1000px;
            max-height: 90%;
            height: 90%;
            overflow: auto;

            /*스크롤바 모양만 지우고 기능은 가능하게*/
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer 10+ */
        }

        /*스크롤바 모양만 지우고 기능은 가능하게*/
        .content-box::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }

        /*회색 가로 구분선*/
        .divider {
            height: 1px;
            width: 100%;
            /*background-color: #e0e0e0;*/
            /*background-color: gray;*/
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /*제목*/
        .tags {
            padding: 5px;
            /*background-color: #e8f4ea;*/
            width: fit-content;
            margin-top: 20px;
            /*color: white;*/
        }

        /*확인 버튼*/
        .confirm-button {
            margin-top: 10px;
        }

        /*페이지네이션 컨테이너*/
        .navigation-box {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    </style>

    <script>

        // 현재 페이지
        let page = document.location.pathname.split("/")[2];

        // 페이지가 로드되면 현재 페이지(page)에 따라서 카테고리 표시 상태를 바꾼다.
        $(document).ready(function () {
            $("#home").removeClass("active")
            $("#info").removeClass("active")
            $("#posts").removeClass("active")
            $("#replies").removeClass("active")
            $("#" + page).addClass("active")

            $("#home").addClass("link-dark")
            $("#info").addClass("link-dark")
            $("#posts").addClass("link-dark")
            $("#replies").addClass("link-dark")
            $("#" + page).removeClass("link-dark")
        })

        // 비밀번호 확인 버튼 눌렀을 때 작동하는 함수
        function confirm_password() {
            window.location.href = "/mypage/home"
            // $.ajax({
            //         type: "GET",
            //         url: "/confirm_password",
            //         data: {},
            //         cache: false,
            //         contentType: false,
            //         processData: false,
            //         success: function (response) {
            //             if (response["result"] == "success") {
            //                 alert(response["msg"])
            //                 window.location.reload()
            //
            //             }
            //         }
            //     });
        }
    </script>
</head>
<body>
<div class="container d-flex flex-nowrap">
    <div>
        <!-- 부트스트랩 Sidebar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-white sidebar-container" style="width: 280px;">
            <a href="/mypage" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">마이페이지</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                {% if page == "mypage_pwconfirm" %}
                <li class="nav-item">
                    <a href="/mypage" class="nav-link" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <!--                        <use xlink:href="#home"/>-->
                        </svg>
                        비밀번호 재확인
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/mypage/home" id="home" class="nav-link" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <!--                        <use xlink:href="#home"/>-->
                        </svg>
                        마이페이지 홈
                    </a>
                </li>
                <li>
                    <a href="/mypage/info" id="info" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <!--                        <use xlink:href="#speedometer2"/>-->
                        </svg>
                        내 정보
                    </a>
                </li>
                <li>
                    <a href="/mypage/posts" id="posts" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <!--                        <use xlink:href="#table"/>-->
                        </svg>
                        작성한 게시글
                    </a>
                </li>
                <li>
                    <a href="/mypage/replies" id="replies" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <!--                        <use xlink:href="#grid"/>-->
                        </svg>
                        작성한 댓글
                    </a>
                </li>
                {% endif %}
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                   id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sidebar 오른쪽 내용 박스-->
    <div class="right-box">
        <div class="content-box">

            <!-- app.py에서 받아온 page 파라미터가 무엇이냐에 따라 페이지를 다르게 출력. 아래의 if page 모두 동일.-->
            <!-- 문법은 Jinja-->

<!--            ----------------------------------------비밀번호 확인----------------------------------------              -->
            {% if page == "mypage_pwconfirm" %}
            <h3>비밀번호 재확인</h3>
            <div class="divider"></div>
            <p>비밀번호를 입력해주세요.</p>
            <div class="form-floating" style="width: 300px;">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button onclick="confirm_password()" type="button" class="confirm-button btn btn-primary">확인</button>
            {% endif %}

<!--            ----------------------------------------마이페이지 홈----------------------------------------              -->
            {% if page == "home" %}
            <div>
                <h3>마이페이지 홈</h3>
                <div class="divider"></div>
                <h4 class="tags">최근 작성한 게시글</h4>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!--                    작성 게시물 중 최근 3건을 슬라이싱. DB 연결 이후 api단에서 해결하는 것으로 수정.-->
                    {% for post in posts.posts[0:3] %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-img-top"
                                 style="height: 255px; background-image: url({{ post.pic }}); background-size: cover;">
                            </div>

                            <div class="card-body">
                                <h4>{{ post.title }}</h4>
                                <p class="card-text">{{ post.contents }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">바로가기</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">수정하기</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h4 class="tags">최근 작성한 댓글</h4>
                <ul class="list-group">
                    {% for reply in replies.replies[0:3] %}
                    <li class="list-group-item">
                        <p>{{ reply.text }}</p>
                        <a href="/{{ reply.postnum }}"><strong>게시글 : </strong>{{ reply.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

<!--            ----------------------------------------내 정보----------------------------------------              -->
            {% if page == "info" %}
            <div>
                <h3>내 정보</h3>
                <div class="divider"></div>
                <h6 class="tags">ID</h6>
                <p>somethingid</p>
                <h6 class="tags">생년월일</h6>
                <p>20220621</p>
                <h6 class="tags">비밀번호 변경</h6>
                <button type="button" class="btn btn-outline-success">비밀번호 변경하기</button>
            </div>
            {% endif %}

<!--            ----------------------------------------작성한 게시글----------------------------------------              -->
            {% if page == "posts" %}
            <div>
                <h3>작성한 게시글</h3>
                <div class="divider"></div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for post in posts.posts %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-img-top"
                                 style="height: 255px; background-image: url({{ post.pic }}); background-size: cover;">
                            </div>

                            <div class="card-body">
                                <h4>{{ post.title }}</h4>
                                <p class="card-text">{{ post.contents }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">바로가기</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">수정하기</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="navigation-box">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}

<!--            ----------------------------------------작성한 댓글----------------------------------------              -->
            {% if page == "replies" %}
            <div>
                <h3>작성한 댓글</h3>
                <div class="divider"></div>
                <ul class="list-group">
                    {% for reply in replies.replies %}
                    <li class="list-group-item">
                        <p>{{ reply.text }}</p>
                        <a href="/{{ reply.postnum }}"><strong>게시글 : </strong>{{ reply.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="navigation-box">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>


</body>
</html>